
body {
    background: #33CCCC; 
    animation: color 15s infinite linear;
    color: #000; 
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000; 
    text-align: center;
    padding: 10px 0;
    border-top: 5px solid #f5c518; 
}

h1 {
    font-size: 32px; 
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    color: #000; 
}
h2 {
    font-style: italic;
}

.description {
    font-size: 18px; 
    margin: 10px 0;
    color: #000; 
}

#searchContainer {
    padding: 20px;
    color: #000;
    background: #33CCCC;

}

label {
    display: block;
    margin-bottom: 10px;
    color: #000; 
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #fff; 
    color: #000; 
}

button {
    background-color: #f5c518; 
    color: #000; 
    padding: 12px 24px; 
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d4aa00; 
}

#movieResults {
    margin-top: 20px;
}

#movieResults h2, #movieResults p {
    color: #000;
}

.card-body:hover {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.8);
}

.card-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;
}

.card-button:hover {
    background-color: rgb(151, 151, 151);
}

.modal-open {
    overflow: scroll;
}

/* search cards different sizes image of the poster
search doesnt ignore white space (end white space)